.main-content {
    margin-top: 40px;
    background-image: url(parallax-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    border-radius: 10px;
    padding-left: 100px;
    padding-top: 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
.mainname {
    font-weight: bold;
    font-size: 270%;
    letter-spacing: 1px;
    color: #31180f;
}
.mainname span {
    color: #ff7f50;
}
.maintext {
    margin-right: 320px;
    font-size: 115%;
    color: #31180f;
}
.pair {
    text-align: center;
    margin-right: 320px;
}
.healingthenation {
    font-size: 200%;
    color: #ff7f50;
    text-align: center;
    margin-right: 320px;
}
.healingthenation {
    font-weight: bold;
    letter-spacing: 2px;
}

.section-content {
    display: flex;
    margin-top: 100px;
    background-color: rgba(217, 218, 220, 0.3);
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  
}
.section-img1 {
    width: 130%;
    background-image: url(happydoctors.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 10px;
    
}
.section-img2 {
    width: 130%;
    background-image: url(happypatients.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 10px;
    
}
.section-text {
    display: flex;
    font-size: 240%;
    font-weight: bold;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    color: #ff7f50;
   
}
.section-text:hover {
    letter-spacing: 2px;
    font-size: 260%;
    color: #31180f;
}
.join-us {
    margin-top: 50px;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    color: #ff7f50;
}
.join-us:hover {
    font-size: 320%;
    letter-spacing: 2px;
    color:#31180f;
}
.directormessage {
    display: flex;
    margin-top: 100px;
    background-color: rgba(217, 218, 220, 0.3);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
.mainmes {
    padding: 50px 50px 50px 50px;
}
.imgmes {
    margin-top: auto;
}

.messagetitle {
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 1px;
}
.directorname {
    font-size: 150%;
    font-weight: bold;
}
.bolddirectortext {
    text-align: center;
    font-weight: 400;
    font-size: 150%;
}
/*.star {
    font-weight: bold;
    font-size: 150%;
    border: 2px solid #31180f;
    width: 300px;
    border-radius: 40px;
    z-index: 99;
    transform: translateY(-200px);
    margin-left: 200px;
    text-align: center;

}*/
.infotabs {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.infotab {
    background-color: rgba(217, 218, 220, 0.3);
    border-radius: 10px;
    width: 30%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    padding-bottom: 50px;
}
.infotabheading {
    color: #ff7f50;
}

